main {
  display: grid;
  grid-template-columns: 12fr;
}

main button {
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

main button.highlight {
  -moz-box-shadow: inset 3px 0px 17px 8px rgba(31, 19, 190, 0.6);
  -webkit-box-shadow: inset 3px 0px 17px 8px rgba(31, 19, 190, 0.6);
  box-shadow: inset 3px 0px 17px 8px rgba(31, 19, 190, 0.6);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: 6fr 6fr;
  }
}

@media screen and (min-width: 1224px) {
  main {
    grid-template-columns: 4fr 4fr 4fr;
  }
}